html, body {
  height: 100%;
  width: 100%;
  background-color: #140B07;
}

a:link{
  color:yellow;
}

a:visited{
  color:white;
}

.seçao1{
  font-weight: bold;
  color: white;
}

.seçao2{
  font-weight: bold;
  color: white;
}

.seçao3{
  font-weight: bold;
  color: white;
}

